
.l-slider {
    margin: 30px 0 auto auto;
    // width: 83%;
    // max-width: 500px;
    @include mq(tb){
        // margin: 60px 0 auto auto;

    }
    @include mq(pc){
        // margin: 145px 0 auto auto;
    }
    .l-slickImg {
        margin: 0 5px 10px;
        text-align: end;
        img{
            width: 100%;
            height: auto;
        }
    }
}



.slide-arrow {
    width: 3vw;
    filter: drop-shadow(1px 1px 1px black);
    pointer-events: all;
    // background: $main-color--w;
    // border-radius: 50%;
    transition: .8s all;
    @include mq(tb){
        width: 3vw;
        max-width: 80px;
    }
    @include mq(pc){
        width: 2.5vw;
        max-width: 80px;
    }
    &:hover{
        @include mq(sp){
            width: 4vw;
        }
    }
  }
  .prev-arrow {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    z-index: 1;
    @include mq(tb){
        // top: -8%;
        // left: 0;
    }
    &:hover{
        
    }
  }
  .next-arrow {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    z-index: 1;
    @include mq(tb){
        top: -8%;
        left: 5%;
    }
  }
//   button {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     outline: none;
//     padding: 0;
//   }
