
.l-slider {
    // コンセプト
    .concept-slider{
        .slick-img{
            @include mq(sp){
                // width: 100vw !important;
                margin: 0 5px;
            }
            @include mq(tb){
                margin: 0 10px;
            }
            @include mq(pc){
            }
        }
    }
}
// f-view]
.top-slider{
    .l-slickImg{

    }
    .slide-arrow {
        width: 5vw;
        filter: drop-shadow(1px 1px 1px black);
        pointer-events: all;
        // background: $main-color--w;
        // border-radius: 50%;
        transition: .8s all;
        z-index: 99;
        @include mq(tb){
            width: 3vw;
            max-width: 80px;
        }
        @include mq(pc){
            width: 2.5vw;
            max-width: 80px;
        }
        &:hover{
            @include mq(sp){
                width: 4vw;
            }
        }
      }
    .prev-arrow {
        position: absolute;
        top: 50%;
        left: -6%;
        transform: translateY(-50%);
        @include mq(tb){
            left: -6%;
            filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0));
            transition: all .5s;
        }
        &:hover{
            top: 46%;
            filter: drop-shadow(.5px .5px 2.5px rgba(0, 0, 0, 0.356));
            transform: scale(1.1);
        }
    }
    .next-arrow {
        position: absolute;
        top: 50%;
        right: -6%;
        transform: translateY(-50%);

        @include mq(tb){
            right: -6%;
            filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0));
            transition: all .5s;
        }
        &:hover{
            top: 46%;
            filter: drop-shadow(.5px .5px 2.5px rgba(0, 0, 0, 0.356));
            transform: scale(1.1);
        }
    }
}
// owner's voice
.owner-slider {
    margin: auto;
    padding: 0;
    width: 95%;

    @include mq(tb){
        width: 87%;
        margin: 0 0 0 auto;
    }
    @include mq(pc){
    }
    .l-slickImg {
        margin: auto 25px;
        text-align: end;
        @include mq(tb){
            margin: 0 10px 10px;
        }
        img{
            width: 100%;
            height: auto;
        }
        a{
            display: block;
            color: $border-color--b;
            // background: $main-color--w;
            font-weight: bold;
            img,
            .l-slickText{
                transition: .5s all;
                @include mq(sp){
                    color: $pink-t;
                    margin-right: 9vw;
                }
                &::after{
                    @include mq(sp){
                        background: $pink-t;
                    }
                }
            }
            &:hover{
                color: $pink-t;
                img{
                    opacity: 0.7;
                }
                .l-slickText{
                    &::after{
                        background: $pink-t;
                    }
                }
            }
            .l-slickText{
                position: relative;
                display: inline-block;
                &::after{
                    position: absolute;
                    left: 0;
                    bottom: 0;

                    content: "";
                    width: 100%;
                    height: 1.5px;
                    transition: .5s all;
                }
            }
        }
    }
    .slide-arrow {
        width: 8vw;
        background: $main-color--w;
        border-radius: 50%;
        transition: .8s all;
        z-index: 99;
        @include mq(tb){
            width: 3vw;
            max-width: 80px;
        }
        @include mq(pc){
            width: 2.5vw;
            max-width: 80px;
        }
        &:hover{
            background: $item-hover--bg;
        }
    }
    .prev-arrow {
        position: absolute;
        top: -9%;
        left: 1%;
        @include mq(tb){
            top: -8%;
            left: 1.5%;
        }
    }
    .next-arrow {
        position: absolute;
        top: -9%;
        left: 12%;
        @include mq(tb){
            top: -8%;
            left: 6%;
        }
    }
}


.slick-dots{
    li{
        button{
            &:before {
                transition: .3s all;
                @include mq(tb){
                    font-size: 17px !important;
                    width: 44px !important;
                    height: 44px !important;
                }
            }
            &:hover{
                &:before {
                    color: $site-color01 !important;
                }
            }
        }
    }
}
.slick-active{
    button{
        &:before {
            color: $site-color01 !important;
        }
    }
}