
.iconArea{
    .svg-icon{
        padding: 5% 0;
        &.-active{
            color: white;
            background: $nav-active-bg;
            .svg-inner{
                stroke: white !important;
                fill: white !important;
            }
        }
        .svg-inner{
            padding: 0 38%;
            // &:hover{
        
            // }
            // &.-top{
        
            // }
        }
    }
}



#sp-btm-contactArea{
    background: $site-color01;
	border: 1px solid $site-color01;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 9999;
    .base-bg{
        max-width: 100%;
    }
}


// どのサイトでも使えるようにした。
#pc-right-contactArea{
	background: $site-color01;
	border: 1px solid $site-color01;
    position: fixed;
    top: 30%;
    right: 0%;
    z-index: 9999;
    .base-bg{
        height: auto;
        max-width: 45px;
    }
}


svg{
    &#rightBtn_top{
        .cls-1{
            fill: $site-color01;
        }
    }
    #rightBtn_btm{
        .cls-1{
            fill: $main-color--w;
        }
    }

    &#bottomBtn_left{
        .cls-1 {
            fill: none;
        }
        .cls-2{
            fill: black;
        }
    }
    &#bottomBtn_right{
        .cls-1{
            fill: $main-color--w;
        }
        .cls-2 {
            fill: none;
          }
    }
}
